* {
  margin: 0;
}

html,
body {
  --grey: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid; /*Maneira de visualização dos elementos*/
  place-items: center; /*Centralizar esses elementos*/

  background-color: var(--black);
}

main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 15.62rem; /* 250px */
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative; /* Passa a ser a referência do absolute */
}

.avatar span {
  position: absolute; /* Cria níveis de empilhamento */
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço */
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none; /* Remove os bullet points da lista */
  padding: 0; /* remove o preenchimento da box */

  display: flex; /* Coloca os elementos um ao lado do outro */
  gap: 0.5rem; /* Espaço entre os elementos (Liberado pelo flex)*/

  justify-content: center; /* Justifica os elementos no centro (Liberado pelo flex)*/
}

li {
  transition: 1s;
}

li:hover,
li:focus {
  transition: 0.3s;
  transform: translateY(-0.4rem) scale(1.2);
  /*&clip-path: circle(50% at 50% 50%);*/
}
